<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>
        Welcome to {{ title }}!
      </h1>
    </div>

    <div class="panel-body">
      <div class="col-lg-12">
        <div class="col-lg-4 form-group">
          <form (ngSubmit)="onSubmit(fm)" #fm="ngForm">
            <div class="col-lg-12 form-group">
              <label for="name">User Name</label>
              <input ngModel name="name" type="text" class="form-control" required>
            </div>

            <div class="col-lg-12 form-group">
              <input type="submit" class="btn btn-primary form-control" value="submit">
            </div>

            <div class="col-lg-12 form-group">
              <a href="https://github.com" title="Visit" target="_blank"
              class="link">GitHub</a>
            </div>
          </form>
        </div>

        <div class="col-lg-8 text-center">
          <div class="col-lg-8">
            <div *ngIf="_users">
              <figure>
                <img src="{{ _users.avatar_url }}" alt="your avatar" style="width: 50%;">
              </figure>
              <p><strong>Name:</strong> {{ _users.name }}</p>
              <p><strong>From:</strong> {{ _users.location }}</p>
              <p><strong>Number of projects:</strong> {{ _users.public_repos }}</p>
              <p><strong>followers:</strong> {{ _users.followers }}</p>
              <p><strong>Following:</strong> {{ _users.following }}</p>
              <p><strong>See on:</strong> <a href="{{ _users.html_url }}" target="_blank">
                {{ _users.html_url }}</a></p>
            </div>
            <div *ngIf="!_users">
              <p><strong>Enter with your user name</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-footer">
      <p>This is for GitHub users. Enter with your user name
        to see something about your acount.</p>
    </div>
  </div>
</div>
